.root {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1.25rem;
  border-radius: 10px;
  min-width: 75%;
}

.attachment {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.image-container {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.event-heading {
  margin-bottom: 0.5rem;
}

.event-details {
  padding-left: 0.5rem;
}

.event-details__date {
  margin-bottom: 1rem;
}

.event-details__description {
  padding-bottom: 2rem;
}
