.root {
  margin: 2rem;
}

.heading {
  margin-bottom: 2rem;
}

.inventory-container {
  display: flex;
  justify-content: space-around;
}

.inventoryTable {
  width: 50%;
}

.imageContainer {
  width: 40%;
  flex: 0 0 auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.notes-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.notes {
  width: 70%;

  h2 {
    margin: 1rem 0;
    text-align: center;
  }
}

.notesContent {
  padding: 1rem;
  text-align: center;
}
