.root {
  margin-top: 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  padding: 1em;
  margin: 2rem 5%;
  max-width: 80%;
}

.article-heading {
  margin-bottom: 1.5rem;
}

.contact {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  padding: 1em;
  max-width: 80%;
  margin: 2rem 5%;

  &_text {
    width: 60%;
  }
}

.contact-heading {
  margin-bottom: 1.5rem;
}

.contact-info {
  width: 50%;
  padding-right: 5%;
}

.map {
  width: 50%;
}
