.root {
  width: 100%;
  padding-bottom: 5rem;
}

.announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  padding: 1rem;
  margin: 1.75rem 0;
  font-family: var(--hero_font);
  width: 100%;
  text-align: center;
  font-size: 3rem;
}
