.root {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.25rem;
  border-radius: 10px;
  min-width: 75%;
}

.body {
  p {
    width: 95%;
  }
}

.date {
  border-top: 1px solid black;
  padding-top: 0.5rem;
  width: 95%;
}

.attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
