.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
  height: 15%;
}

.navLogoImage {
  display: flex;
  align-items: center;
}
.logoImage {
  width: 90px;
  padding-left: 1em;
}

.buttons > a {
  margin: .5em;
}