.root {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 1rem;
}

.heading {
  margin-bottom: 1rem;
}

.thumbnail {
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
  }
}

.description {
  width: 100%;
  padding: 1rem;
  background-color: var(--card-background);
}
