.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: var(--nav-background);
  height: 7.5rem;
  font-family: var(--default_font);
  border-top: 5px solid rgb(168, 147, 108);

  a {
    color: var(--anchor);
  }
}
