.heading {
  width: 100%;
  text-align: center;
  padding-top: 0.25rem;
}

.amenities {
  width: 90%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
}

.amenities-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
}

.amenities-description {
  padding: 1.25rem;
}

.amenities-images {
  display: flex;

  img {
    width: auto;
    height: 13rem;
    margin: 0.5rem;
  }
}
