.root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: var(--hero_font);
  font-size: 20px;
  width: 98%;
  padding: 1rem;
  background-color: var(--light-blue);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
