.root {
  display: flex;
  justify-content: space-around;
}

.body {
  width: 100%;
}

.rules-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 2.2rem;
}

.heading {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;

  h2 {
    font-size: 4rem;
  }
}

.description {
  padding-bottom: 1rem;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin: 0.35rem;
    border: 1px solid black;
    background-color: #f4e0bc;
    width: 31%;

    &:hover {
      background-color: white;
    }
  }
}

.rules {
  margin-top: 1.5rem;

  h3 {
    margin-bottom: 1rem;
  }
}

.image-container {
  width: 45%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
