.root {
  width: 90%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin-bottom: 2.2rem;
}

.body {
  width: 100%;
  background-color: var(--card-background);
}

.heading {
  width: 100%;
  text-align: center;
  padding-top: 0.25rem;
  margin-bottom: 1rem;
}

.description {
  padding: 1rem 2rem;
}
.tabs {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin: 0.35rem;
    border: 1px solid black;
    background-color: #f4e0bc;
    width: 30%;

    &:hover {
      background-color: white;
    }
  }
}

.rules {
  padding: 1rem 2rem;
}
